$dark-bg: #040404;
$dark-wrapper-bg: #202020;
$light-bg: #ffffff;
$dark-text: #ffffff;
$light-text: #000000;
$white: #ffffff;
$black: #000000;

// NAVBAR

$navbar-width: 124px;
$navbar-expanded-width: 500px;
$nav-bar-item-height: 82px;
$nav-bar-item-width: 312px;
$nav-bar-item-bg: #3B486D;
$font-size: 18px;
$primary-btn-bg: linear-gradient(to right, #2426E9, #04177E);
$primary-btn-hover-bg: linear-gradient(to right, #04177E, #2426E9);
$primary-btn-text-color: #fdfbfb;

// BUTTON
$secondary-btn-bg: #f4f4f4;
$secondary-btn-hover-bg: #ffffff;
$secondary-btn-text-color: #091038;

// BREAKPOINTS

$breakpoint-small: 768px;
